<h1 mat-dialog-title class="guest-user-dialog__header">Usuario Invitado</h1>

<div mat-dialog-content class="guest-user-dialog__content">
  <p class="guest-user-dialog__paragraph">
    Actualmente está en desarrollo el sistema de usuarios. Pero puede ingresar como usuario invitado y probar
    las principales funcionalidades que están en desarrollo.
  </p>
</div>

<div mat-dialog-actions class="guest-user-dialog__actions">
  <button mat-flat-button [mat-dialog-close]="false" [routerLink]="['/']">Cancel</button>
  <button class="guest-user-dialog__cta-button cta-button" [mat-dialog-close]="true" [routerLink]="['/', 'stages']">Aceptar</button>
</div>
